<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
</head>
<body>

<table border="1">

    <thead>
    <tr>
        <th scope="col">Manufacturer</th>
        <th scope="col">Model</th>
        <th scope="col">Year</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="car : ${cars}" th:style="'font-weight: bold;'">
        <td th:text="${car.getBrand()}"></td>
        <td th:text="${car.getModel()}"></td>
        <td th:text="${car.getManufacturedYear()}"></td>
    </tr>
    </tbody>

</table>

</body>
</html>

